extends layout

include taxon_table

block content
  h3= title

  +taxon_table(taxon_list)

  a(href=`/taxon/${taxonId}/update`)
    button.btn.btn-primary(type='button') Update
  a(href=`/taxon/${taxonId}/delete`)
    button.btn.btn-primary(type='button') Delete
  a(href=`/`)
    button.btn(type='button') Cancel
