extends layout

include taxon_table

block content
  h3= title

  +taxon_table(taxon_list)

  h3
    u Are you absolutely certain that you want to delete this taxon?

  form(method='POST', action=`/taxon/${taxonId}/delete`)
    button.btn(type='submit') Yes. Delete
    a(href=`/taxon/${taxonId}`)
      button.btn.btn-primary(type='button') No! Cancel
