extends layout

block content

  h3 Reset Confirmed: Create New Password

  form(method='POST' action='/user/confirm/reset')
    div.form-group
      div(class='row')
        div(class='col-sm-4')
          table(class='table')
            tr
              td Password
              td
                input#password.form-control(type='password', name='password' value=user.password)
            tr
              td Confirm Password
              td
                input#confirm.form-control(type='password', name='confirm' value=user.confirm)

    if errors
     ul
      for error in errors
       li!= error.msg

    button.btn.btn-primary(type='submit') Save
    a(href=`/`)
      button.btn(type='button') Cancel
